.landingpage {
    background: white url("./assets/img/card_1.jpg") scroll center;
    background-size: cover;
    height: 100vh;
    color: #292328;
}

.wrapper{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}